DB_NAME=defaultdb
DB_USER=avnadmin
DB_PASSWORD=AVNS_pkTjQumJYs7kp0ItsYb
DB_HOST=mysql-196bda09-martinezbecerraemmnuelfrancisco.a.aivencloud.com
DB_PORT=21868

# --- NUEVAS: configuración de Django para tu computadora ---
# pega aquí la clave que acabas de generar
SECRET_KEY=Vs7n4HeVau3zrmRF8qd7Qpv1aNPZ3vEE7tvtGgyKjRrJ7DHU8hmi1NbMC4IexQ05htM
# True en tu compu para ver errores detallados
DEBUG=True
# los dos nombres con los que abres runserver, separados por coma y SIN espacios
ALLOWED_HOSTS=127.0.0.1,localhost
# las mismas direcciones pero completas, con http:// y el puerto 8000
CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000